body{
  background:#FFF;
  margin:0px;
  font-family:"Helvetica";
}

/**********************************
          Content Setting  
 ***********************************/

/*--------------- 
      Top 
 ----------------*/ 
#top.ui.page.grid{
  background-color:red;
  background-size:cover;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  padding-top:1.5rem;
}
img.ui.image.huge.logo{
  margin-top:5px;
  text-align: center;
}

/*--------------
      News     
----------------*/
#news{
  text-align:center;
   background:rgb(15,200,255); 
}
#news.ui.list  .list > .item .header,
#news.ui.list > .item .header{
  margin-top:0.3rem;
  font-size:1.1rem;
}
#news.ui.list > .item:last-child{
  padding-top:0.3rem;
  padding-bottom:0.3rem;
}
#news.ui.list > .item:first-child{
  padding-top:0.3rem;
  padding-bottom:0.3rem;
}
#news.ui.list .list > .item .description,
#news.ui.list >> .item .description{
  margin-top:0.3rem;
}

/*-------------------
        Team     
 --------------------*/

.ui.page.grid{
  color:#042B06;
  background-color:white ;
  line-height:1.5;
  text-align:center;
  margin-top:2rem;
}
#member.ui.items>.item{
  min-height:200px;
}


/* FRC */ 
.ui.page.grid.third{
  color:#ffffff;
  background-color:black;
  line-height:1.5;
  text-align:center;
}

/*-------------------------------
   Sponsors and Special Thanks 	
--------------------------------*/

.ui.page.grid.relaxed.sponsor{
  color;#000;
  background-color:white;
  line-height:1.5;
  text-align:center;
}
#sp.ui.items>.item{
  min-height:85px;
  text-align:center;
}
a#sp{
 font-size:medium;
}
#sp.header{
  font-size:x-large;
}

/* footer */
.ui.page.grid.relaxed.footer{
  color:#000;
  background-color:#c0c0c0;
  font-size:large;
}

/* tag settig */
h1.center{
  text-align: center;
  font-family: "Open Sans";
}

h1.bigtitle{
  font-family:"Source Sans Pro";
}
h3.minititle{
  font-family:"Source Sans Pro";
}
h3.right{
  text-align:justify;
}
.nomargin{
  margin:0.5rem;
}
.ui.horizontal.divider{ 
  margin:0;
}
p.bold{
  font-style:bold;
}
/* a */
a{
  color:white;
  text-decoration: underline;
}
a.black{
  color:black;
  text-decoration: underline;
}
a.center{
  text-align:center;
  display: inline-block;
}
a.icon{
  text-decoration:none;
}

.name{
  font-size:1.5em;
}
.ui.image{
  margin: 0 auto;
}
p.center{
  text-align:right;
  vertical-align:center;
  display:inline-block;
}
.menu{
  top:0px;
}

/* Sposor Images */
.ui.sponsor-mini.images .image,
.ui.sponsor-mini.images img,
.ui.sponsor-mini.image {
  width: 150px;
  font-size:0.9rem;
}
.ui.sponsor.images .image,
.ui.sponsor.images img,
.ui.sponsor.image {
  width: 200px;
  font-size:0.9rem;
}
.ui.sponsor-big.images .image,
.ui.sponsor-big.images img,
.ui.sponsor-big.image {
  width: 250px;
  font-size:0.9rem;
}

/* Youtube */
.youtube{
  position: relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}
.youtube iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* hr */

hr.white{
  border: 0;
  height: 0;
  width: 90%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.black{
  border: 0;
  height: 0;
  width: 90%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
