!!!
%html{:lang => "ja"}
  %head
    / Standard Meta
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width,initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %meta{:content => "FRC,Tokyo Technical Samurai,", :name => "keywords"}/
    %meta{:content => "Kasai Nobuhiro,sh4869(sh4869.net)", :name => "author"}/
    %meta{:content => "First Robotics Competition 参加チーム、Tokyo Technical Samuraiの公式ホームページです。", :name => "description"}/
    / Site Properities
    %title Tokyo Technical Samurai
    %link{:href => "http://fonts.googleapis.com/css?family=Slabo+27px", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/semantic.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/home.css", :rel => "stylesheet", :type => "text/css"}/
    / Icon setting
    %link{:href => "images/favicons/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "images/favicons/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "images/favicons/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/favicons/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "images/favicons/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "images/favicons/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "images/favicons/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "images/favicons/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "images/favicons/apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "images/favicons/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/favicons/favicon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "images/favicons/favicon-160x160.png", :rel => "icon", :sizes => "160x160", :type => "image/png"}/
    %link{:href => "images/favicons/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "images/favicons/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "images/favicons/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %meta{:content => "#00a300", :name => "msapplication-TileColor"}/
    %meta{:content => "images/favicons/mstile-144x144.png", :name => "msapplication-TileImage"}/
    %meta{:content => "images/favicons/browserconfig.xml", :name => "msapplication-config"}/
    
    / JavaScript
    %script{:src => "//code.jquery.com/jquery-1.11.0.min.js"}
    %script{:src => "javascript/semantic.js"}
    %script{:src => "javascript/rem.js"}
    %script{:src => "javascript/jquery.bgswitcher.js"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46319605-11', 'auto');
      ga('send', 'pageview');
      $(function(){
        /*
        $(".top").bgswitcher({
          images: ["images/background.jpg"],
        });
        */
        $('a[href^=#]').click(function(){
          var speed = 1000;
          var href= $(this).attr("href");
          var target = $(href == "#" || href == "" ? 'html' : href);
          var position = target.offset().top;
          $("html, body").animate({scrollTop:position}, speed, "swing");
          return false;
        }); 
        $.fn.progress.settings.showActivity = false;
        $('#progressbar').progress({
          text: {
            active  : '現在最終目標金額{total}万円中{value}万円集まっています!ご支援よろしくお願いします ',
            success : '{total}万円集まりました!本当にありがとうございました!' 
          }
        });
      });
    /[if lte IE 8]
      %script{:src => "javascript/alert.js"}
  %body
    .ui.fluid.five.item.inverted.small.fixed.menu
      %a.item{:href => "#top"}
        %i.up.arrow.icon
        Top
      %a.item{:href => "#team"}
        %i.users.icon
        Team
      %a.item{:href => "#frc"}
        %i.trophy.icon
        FRC
      %a.item{:href => "#sponsor"}
        %i.building.icon
        Sponsors
      %a.item{:href => "#info"}
        %i.info.icon
        Info
    #top.ui.page.grid.top
      .row#top
        .center
          %img.ui.image.big.logo{:src => "images/teamlogo.png"}/
    #news.ui.divided.list
      .item
        .header クラウドファンディングがスタートしました!
        .description 
          ご協力よろしくお願いします!  
          %a{:href => "https://readyfor.jp/projects/TTS-5749", :target => "_blank"} 
            国際高校生ロボット大会FRCに日本からの初出場を果たしたい！ - READYFOR?
    #team.ui.page.grid
      .one.wide.column
      .fourteen.wide.column
        %h1.bigtitle
          Tokyo Technical Samurai
        .ui.divider
        %p.caption Tokyo Technical Samuraiは、ロボット競技大会FRCに参加する日本初の高校生団体です。
        %h2.title
          Members
        .ui.five.items#member
          .item
            .image
              %image{:src => "images/icons/eguti.jpg"}
            .content
              .header
                江口 壮哉
              .description
                機械システム分野、マイコン制御部所属。ハードウェア担当。
          .item
            .image
              %image{:src => "images/icons/otuka.jpg"}
            .content
              .header
                大塚 耀
              .description
                機械システム分野、マイコン制御部所属。ハードウェア担当。対話型セラピーロボットを設計。
          .item
            .image
              %image{:src => "images/icons/oonisi.jpg"}
            .content
              .header
                大西 祐輝
              .description
                電気電子分野所属。管理、経営、ハードウェア担当。
          .item
            .image
              %image{:src => "images/icons/kasai.png"}
            .content
              .header
                笠井 信宏
              .description
                情報システム分野所属、Webページ、ソフトウェア担当。
          .item
            .image
              %image{:src => "images/icons/kawabata.jpg"}
            .content
              .header
                川端 唯人
              .description
                機械システム分野所属。ハードウェア担当。RoboCupJunior世界大会優勝経験あり。
          .item
            .image
              %image{:src => "images/icons/kawamura.jpg"}
            .content
              .header
                川村 洋平
              .description
                機械システム分野所属。ハードウェア担当。チーム副代表。
          .item
            .image
              %image{:src => "images/icons/sanada.jpg"}
            .content
              .header
                眞田 行隆
              .description
                機械システム分野所属。電子回路担当。パフォーマンスロボット大会三位入賞。
          .item
            .image
              %image{:src => "images/icons/nakayama.jpg"}
            .content
              .header
                中山 武壽
              .description
                機械システム分野所属。ハードウェア担当。RoboCup出場など。
          .item
            .image
              %image{:src => "images/icons/harada.jpg"}
            .content
              .header
                原田 英将
              .description
                電気電子分野所属。鉄道研究同好会所属。ハード担当。チーム代表。
          .item
            .image
              %image{:src => "images/icons/matumoto.jpg"}
            .content
              .header
                松本 賢史
              .description
                電気電子分野所属。回路、イラスト担当。
        %hr.white
        %h2.title
          チーム理念
        .caption
          %p 私達は「勝利を目指し、その過程で学ぶことを忘れない」事を目標に掲げて活動しています。
          %p
            FRCの掲げるFIRST理念は、要約すると「この大会を通じて様々なことを学んで欲しい」という意味です。
            この大会を通じ私達は、ロボットの設計から制作、大会本番での急なトラブルへの対応、難敵との対峙、他チームとの技術交流等、様々な経験をし、その都度「学習」するでしょう。
            当然、学ぶにはこれらの機会が必要です。そしてより学ぶためには多く、良質な機会を得る必要があり、つまり大会で勝ち上位大会へと進出する必要があります。
          %p
            学ぶためには勝つ必要があるのです。
          %p
            その上で、その過程で学ぶことを忘れない。
          %p
            それが、私達の目標です。
    #frc.ui.page.grid
      .one.wide.column
      .fourteen.wide.column
        %br/
        %h1.bigtitle
          First Robotics Competition 
        .ui.divider
        %h2.title.right
          FRCとは?
        .caption
          %p
            FRC、正式名称”FIRST Robotics Competition”は、NPO法人FIRSTが主催する、高校生のための世界規模のロボット競技会です。
          %p
            現在、17か国でおよそ2700のチームが登録されていますが、残念ながら日本はその中に含まれていません。
          %p
            主な概要としては、120ポンド≒54㎏のロボットを、高校生が主体となって６週間という期間で製作し、3月末に行われる競技会に参加します。
          %p
            %a{:href => "http://www.usfirst.org/roboticsprograms/frc"} FRC公式Webサイト(英語)
        %h2.title.right
          FIRST
        .caption
          %p
            FIRSTとは、米国のNPO法人”For Inspiration and Recognition of Science and Technology”、日本国名「青少年科学技術振興会」の略称です。
          %p
            この法人は、セグウェイの開発などで有名な米国の発明家、ディーン・ケーメン氏によって1992年に設立され、以来NASAなどの支援を受けて学生のためのロボット競技会を開催しています。
          %p
            理念は、「若い世代に対して科学技術の教育を行って将来の技術者のリーダーとなれる人材を育成し、また技術力、コミュニケーション能力を習得させ、世界の科学技術を発展させること」と明言されています。
        %h2.title.right
          競技内容
        .caption
          FRC2015のテーマは「Recycle Rush」、コンテナを積み上げ、ゴミ箱の中にゴミを入れ、得点を競うゲームです。
        .youtube  
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315",:src => "https://www.youtube.com/embed/W6UYFKNGHJ8", :width => "560"}
      %br/
    #sponsor.ui.page.grid.relaxed.sponsor
      .row
        .fourteen.wide.column
          %br/
          %h1.bigtitle
            Sponsors
          .ui.divider
          .ui.grid
            .one.column.row
              .column
                %a{:href => "http://www.nttdata.com/jp/ja/"}
                  %image.ui.hassive.image{:src => "images/logo/ntt-data-logo.jpg"}
              .ui.divider
              .column
                %a{:href => "https://www.switch-science.com/"}
                  %image.ui.big.image{:src => "images/logo/switch-science-logo.png"}
              .column
                %a{:href => "http://www.khkgears.co.jp/"}
                  %image.ui.big.image{:src => "images/logo/KHKSTOCK-logo.jpg"}
              .column
                %a{:href => "http://unity3d.com/"}
                  %image.ui.big.image{:src => "images/logo/unity-logo-kai.png"}
              .column
                %a{:href => "http://www.rt-shop.jp/"}
                  %image.ui.big.image{:src => "images/logo/RT-logo.png"}
                %br/
              .column
                %a{:href => "http://usagee.co.jp/"}
                  %image.ui.big.image{:src => "images/logo/usagee_banner.png"}
                %br/
              .column
                %a{:href => "http://info.dwango.co.jp/"}
                  %image.ui.big.image{:src => "images/logo/dwango-logo.png"}
              .column
                %a{:href => "http://www.huistenbosch.co.jp"}
                  %image.ui.big.image{:src => "images/logo/huis-ten-bosch-logo.png"}
              .column
                %a{:href => "http://www.oki.com/jp"}
                  %image.ui.big.image{:src => "images/logo/oki-logo.png"}
            .ui.divider
            .three.column.row
              .column
                %image.ui.image{:src => "images/logo/haradahudosan-logo.png"}
              .column
                %a{:href => "https://www.facebook.com/waorobo"}
                  %image.ui.image{:src => "images/logo/WAO-logo.png"}
              .column
                %a{:href => "http://www.vstone.co.jp/"}
                  %image.ui.image{:src => "images/logo/vstone-logo.jpg"}
            .ui.divider
            .five.column.row
              .column
              .column
                %a{:href => "http://eguco.co.jp"}
                  %image.ui.image{:src => "images/logo/egucologo.jpg"}
              .column
                %a{:href => "http://www.ichigo-re.co.jp"}
                  %image.ui.image{:src => "images/logo/ichigo-logo.jpg"}
              .column
                %a{:href => "http://www.hamano-products.co.jp/"}
                  %image.ui.image{:src => "images/logo/hamano-logo.png"}
              .column
            %a{:href => "https://www.bonsailab.asia/"}
              %image.ui.big.image{:src => "images/logo/bonsai-lab-logo.png"}
          .ui.divider
          %h2.title
            Special Thanks
          .ui.grid
            .one.wide.column
            .seven.wide.column
              .ui.items#sp
                .item
                  .content
                    .header#sp 
                      Rack 様
                .ui.divider
                .item
                  .content
                    .header#sp 
                      望月鶯 様
                    .description
                      %a#sp{:href => "http://tokyouguisu.com"} Webページ
                      %a#sp{:href => "https://twitter.com/Uguis_MZU"} Twitter
                      %a#sp{:href => "https://www.facebook.com/mochizuki.uguisu"} Facebook
                .ui.divider
                .item
                  .content
                    .header#sp
                      有田富和 様
                    .description
                      %a#sp{:href => "https://www.facebook.com/tomikazu.arita"} Facebook
                .ui.divider
                .item
                  .content
                    .header#sp
                      あれくしゃー 様
                    .description
                      %a#sp{:href => "https://twitter.com/Aleksherr"} Twitter
                .ui.divider
                .item
                  .content
                    .header#sp
                      試作先行量産型水中専用猫面＠寒冷地戦闘仕様（遺伝子組み換えでない） 様
                    .description
                      %a#sp{:href => "https://twitter.com/fsm_jp"} Twitter
                .ui.divider
                .item
                  .content
                    .header#sp
                      青木　龍大 様
                .ui.divider
                .item
                  .content
                    .header#sp
                      ミツマチヨシコ 様
                .ui.divider
                .item
                  .content
                    .header#sp
                      山下大貴 様
                .ui.divider
                .item
                  .content
                    .header#sp
                      清水力 様
            .seven.wide.column  
              .ui.items#sp
                .item
                  .content
                    .header#sp 
                      原田仁敦 様
                .ui.divider
                .item
                  .content
                    .header#sp
                      藤川友子 様
                .ui.divider
                .item
                  .content
                    .header#sp
                      大槻俊和 様
                .ui.divider
                .item
                  .content
                    .header#sp
                      村岡公司 様
                .ui.divider
                .item
                  .content
                    .header#sp
                      menmanist 様
                .ui.divider
                .item
                  .content
                    .header#sp
                      高橋智博 様
                .ui.divider
                .item
                  .content
                    .header#sp
                      松井栞里 様
                .ui.divider
                .item
                  .content
                    .header#sp
                      吉崎 恵 様
          .ui.divider
          %h3.title
            現在の資金状況
          #progressbar.ui.progress{"data-total" => "300", "data-value" => "160"}
            .bar
              .progress
            .label 読み込めていない可能性があります。ご了承下さい。
          
          -# .ui.divider
          -#
            %h3.minititle
              スポンサー・メンター募集
            .caption
              %p 現在私達はスポンサーを募集しています。
              %p スポンサーの広告として、HPの他にロボット・ユニフォーム・横断幕にて宣伝させて頂きます。
              %p また、私達はメンターとして技術協力してくださる方も募集しています。
              %p こちらは個人様でも、会社として技術協力してくださる形でも嬉しいです。
            %br/
            %a.black{:href => "http://tokyotechnicalsamurai.ml/tokyo-technical-samurai.pdf"}
              資料PDF
            %br/
            詳しい応募方法は下のContactをご覧ください。
    #info.ui.page.grid.relaxed.footer
      .row
        .fourteen.wide.column
          %h1
            Contact
          .ui.divider
          %h3.minititle.aligined.ui
            スポンサー募集
        .thirteen.wide.column
          協力してくださるという企業様は、お手数ですがtokyotsamurai@gmail.comに
          .ui.bulleted.list
            .item 貴社名
            .item 相談可能な日時
          を書いて送ってください。
        .fourteen.wide.column
          %h3.minititle.aligined.ui
            メンター募集
        .thirteen.wide.column
          協力してくださる方は、お手数ですがtokyotsamurai@gmail.comに
          .ui.bulleted.liste
            .item 姓名
            .item どのような分野での協力をお願いできるか
            .item 相談形態(メール、面会など)
          を書いて送ってください。
      .row
        .one.wide.column
        .five.wide.column
        .ten.wide.column
          .ui.horizontal.list
            .item
              %a.icon{:href => "mailto:tokyo.t.samurai@gmail.com"}
                %i.big.mail.icon
            .item
              %a.icon{:href => "https://github.com/tokyotechnicalsamurai"} 
                %i.big.github.icon
            .item  
              %a.icon{:href => "https://twitter.com/tokyotsamurai"}
                %i.big.twitter.icon
            .item  
              %a.icon{:href => "https://facebook.com/tokyotechnicalsamurai"} 
                %i.big.facebook.icon
            .item  
              %a.icon{:href => "http://tokyotsamurai.blogspot.jp/"} 
                %i.big.rss.icon
      .row
        .one.wide.column
        .fourteen.wide.column
        .ui.divider
        .twelve.wide.column
          \&copy; 2014 Tokyo Technical Samurai All Rights reserved
    :javascript
